* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: 
      radial-gradient(black 3px, transparent 4px),
      radial-gradient(black 3px, transparent 4px),
      linear-gradient(rgb(255, 255, 255) 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    font-family: 'Manjari', sans-serif;
  }
  .title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
  }
.contenedor {
    background: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr) ;

}
.contenedor .header,
.contenedor .contenido,
.contenedor .barraLateral,
.contenedor .footer,
.contenedor .div {
    background: #fff;
    padding:20px ;
    border: 1px solid black;

}
.contenedor .header,
.contenedor .footer {
    grid-column: 1/6;
    background-color: cornflowerblue;
    color: white;
    
}
.contenedor .contenido {
    grid-column: span 3;
}
.contenedor .barraLateral {
    grid-column: span 2;
}
.contenido article {
    background-color: thistle;
    padding: 20px;
    margin-top: 5px;
    color: black;
}
.contenido article h1,
.contenido article p {
    padding: 10px;
}
.contenedor .publicacionesRelacionadas {
    background-color: blueviolet;
    color: white;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
.contenedor .publicacionesRelacionadas:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(7, 7, 7);
}
.contenedor .barraLateral img {
    width: 100%;
    margin-top: 5px;
}
a {
    color: white;
    text-decoration: none;
}
.contenedor .barraLateral iframe {
    padding: 10px;
}
@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
    
    .contenedor .contenido {
        grid-column: 1/-1;
    }

    .contenedor .barraLateral{
        grid-column: 1/6;
    }

    .contenedor .publicacionesRelacionadas {
        grid-column: 1/-1;
    }

    body {
        background: #000;
    }
    
}